<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Mon Compte - Contenu restraint depuis le même domaine
            </div>
            <div class="panel-body" data-ng-hide="data">
                <p>Fetching data...</p>
            </div>
            <div class="panel-body" data-ng-show="data">
                <p>Email: {{data.email}}</p>

                <p>Date d'enregistrement: {{data.registered_at}}</p>
                <p>Role: {{data.role}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Mon Compte - Contenu restraint depuis un domaine différent (CORS)
            </div>
            <div class="panel-body" data-ng-hide="data">
                <p>Fetching data...</p>
            </div>
            <div class="panel-body" data-ng-show="data">
                <p>{{ api }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Autre page
            </div>
            <div class="panel-body">
                <p><a href="#/postsIndex" class="btn btn-default btn-primary" role="button">Mes Posts</a></p>
            </div>
        </div>
    </div>
</div>
